/* core */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Permanent Marker', cursive;
    min-height: 100%;
    position: relative;
}
body{
    background-color: #EDEDED;
    color: #000;
    margin-bottom: 100px;
}

/* headder */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
header .title{
    color: #FF0000;
    font-size: 3em;
}

/* main */
main{
    margin-top: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

/* .display-grids */
.display-grids{
    background-color: #FF0000;
    border: solid 2rem #FF0000;
    border-radius: 2rem;
    width: 35rem;
    height: 30rem;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 1rem 1rem 1rem;
}
.display-grids .user-div{
    background-color: rgb(247, 255, 251);
}
.display-grids .user-div:hover{
    cursor: pointer;
    background-color: rgb(186, 217, 162) !important;
}

/* .controls */
.active{
    background-color: #333;
    color: #FFFFFF !important;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.controls div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls input[type="range"]{
    width: 11rem;
    cursor: grab;
    margin-top: 0.2rem;
    outline: none;
}
.controls label[for="input-range"]{
    font-size: 1.6em;
}

.controls input[type="color"] {
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}
.controls input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.controls input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.controls input[type="color"]:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0.4rem 0.4rem 0.4rem;
}
.controls .btn-color{
    padding: 0.5rem 3.5rem;
}

.controls .btn-rainbow{
    padding: 0.5rem 3rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}
.controls .btn-darker{
    padding: 0.5rem 3.3rem;
    margin-top: 0.2rem;
}

.controls .btn-erase{
    padding: 0.5rem 4.5rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}
.controls .btn-clear{
    padding: 0.5rem 4.6rem;
}

.controls button{
    font-family: 'Permanent Marker', cursive;
    border: 0.1rem solid #000;
    border-radius: 0.4rem;
    color:#000;
    text-align:center;
}
.controls button[type="button"]:hover{
    cursor: pointer;
    color:#000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0.4rem 0.4rem 0.4rem;
    border-color: transparent;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF0000;
}

footer a{
    text-decoration: none;
    color: #000;
    border: solid 0.3rem transparent;
}
footer a:hover{
    color: #FF0000;
    border-bottom-color: #FF0000;
}



/* media queries */
@media (max-width: 768px){
    /* header */
    header .title{
        font-size: 1.9em;
    }
    
    /* .display-grids */
    .display-grids{
        width: 28rem;
        height: 23rem;
    }

    /* .controls */
    .controls input[type="range"]{
        width: 8rem;
    }
    .controls label[for="input-range"]{
        font-size: 1.4em;
    }

    .controls input[type="color"] {
        width: 3rem;
        height: 3rem;
    }
    
    .controls .btn-color{
        padding: 0.5rem 1.55rem;
    }

    .controls .btn-rainbow{
        padding: 0.5rem 1.1rem;
    }
    .controls .btn-darker{
        padding: 0.5rem 1.4rem;
    }

    .controls .btn-erase{
        padding: 0.5rem 2.9rem;
    }
    .controls .btn-clear{
        padding: 0.5rem 2.9rem;
    }
}

/* media queries */
@media (max-width: 500px){

    /* .main */
    main{
        flex-direction: column;
    }

    /* .display-grids */
    .display-grids{
        width: 19rem;
        height: 19rem;
        margin-bottom: 2rem;
    }
}